@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


p {
    text-decoration: None;
    color: #f8f8ff !important;
    font-weight: 500;
    font-size: 14px;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 3%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
